.navbar {
  position: "static";
  width: "100%";
  height: "30px"; 
}

.container.container-navbar {
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  position: relative;
  float: left;
  text-decoration: none;
  color: #333333;
}

.nav-link{
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  text-align: left;
  margin-left: auto;
  margin-right: auto;

  padding: 16px;
  color: #3c404b;
  text-decoration: none;
}

.nav-link:hover {
  color: #1adace;
}

.nav-link-btn {
  margin-top: 0px;
  margin-left: 8px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  display: inline-block;
}
  
.mobile-menu-icon {
  display: none;
}

@media screen and (max-width: 991px) {
  .nav-links {
    display: none;
  }
  
  .nav-links {
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }

  .mobile-menu-icon {
    display: block;
  }
}