body {
  background-color: #fff;
  font-family: 'Sf pro display', sans-serif;
  color: #5e6875;
  font-size: 16px;
  line-height: 1.5;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.container {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px;
}

.button {
  position: relative;
  padding: 12px 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 30px;
  background-color: #0e0f11;
  -webkit-transition: all 400ms ease, background-color 300ms ease;
  transition: all 400ms ease, background-color 300ms ease;
  color: #fff;
  text-align: center;
  text-decoration: none;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}